@using System.Web.UI.WebControls
@{
    var products = ViewBag.Products as List<Product>;
}

@helper WriteLink(string Src, string LinkText)
{
    <a href="@Src"> @LinkText </a>
}

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Product", Action = "TestimonialGrid" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Product", Action = "DeleteTestimonial" };

        settings.Width = Unit.Percentage(100);

        settings.KeyFieldName = "ID";

        settings.Columns.Add("Name").Width = 300;

        settings.Columns.Add(c =>
        {
            c.FieldName = "ProductID";
            c.Caption = "Product";
            c.ColumnType = MVCxGridViewColumnType.ComboBox;
            var props = (ComboBoxProperties)c.PropertiesEdit;
            props.DataSource = products;
            props.TextField = "Caption";
            props.ValueField = "ID";
            props.ValueType = typeof (int);
        });

        settings.Columns.Add(c =>
        {
            c.FieldName = "Description";
            c.ColumnType = MVCxGridViewColumnType.Memo;
            c.Width = 300;
            ((MemoProperties)c.PropertiesEdit).Height = 200;
        });

        settings.Columns.Add(c =>
            c.SetDataItemTemplateContent(col => ViewContext.Writer.Write(WriteLink(Url.Action("EditTestimonial", new { ID = col.KeyValue }), "Edit")))
        );

        var commandColumn = settings.CommandColumn;

        commandColumn.Visible = true;
        commandColumn.VisibleIndex = int.MaxValue;
        commandColumn.ShowClearFilterButton = true;
        commandColumn.ShowDeleteButton = true;
        commandColumn.Caption = " ";
        
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsEditing.ShowModelErrorsForEditors = true;
    });
}
@grid.Bind(Model).GetHtml()