@section CSS {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
}

@section JS {

    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}

<div class="row">
    <div class="col-lg-12">
        <h1> Contacts </h1>
    </div>
</div>

@Html.Action("ContactsGrid")