@{
    Layout = null;
    var link = Request.SchemeAndAuthority() + Url.Action("ResetPassword", "Account", new { ID = Model });
}

<div>
    <p>
        You have requested a password reset operation Stefans online shop
    </p>

    <p>
        Please <a href="@link">reset</a>  your password
    </p>
</div>
