@using System.Web.UI.WebControls


@section CSS {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
}

@section JS {

    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}

@{
    var Shipping = ViewBag.Shipping as OrderAddress;
}



@if (Layout != null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1> Order details </h1>
        </div>
    </div> 
    
    <div>
       <p>@Shipping.Address1</p>
    </div>
}

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Order", Action = "OrderGrid" };

        settings.Width = Unit.Percentage(100);

        settings.Columns.Add("ProductCaption").Caption = "Product Caption";
        settings.Columns.Add("OrderTime").Caption = "Date";
        settings.Columns.Add("OrderStatus").Caption = "Status";
        settings.Columns.Add("OrderID").Caption = "Order No";
        settings.Columns.Add("Price").PropertiesEdit.DisplayFormatString = "0.00";
        settings.Columns.Add("Email").Caption = "Email";
        settings.Columns.Add("Quantity");
                
        
        settings.KeyFieldName = "ID";
                
        
        settings.SettingsBehavior.AllowSelectByRowClick = true;
    });
}
@grid.Bind(Model).GetHtml()